In [ ]:
# 다음분기에 어떤게임을 설계해야할까?
# 1. 지역에따라 선호하는 게임 장르가 다를까?
# 2. 연도별 게임 트렌드가 있을까
# 3. 출고량 높은게임 분석및 시각화, 프로세스

In [136]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('vgames2.csv', index_col=0)
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [150]:
# 필드명 가져오기, 컬럼 확인
columns=df.loc[:, 'NA_Sales':'Other_Sales']    

# 한국, 미국, 영국, 독일, 중국, 일본  필드명 찾기
country = ['K,k,M,m']
for name in country:
    print(columns[columns.str.contains(name)])

AttributeError: 'DataFrame' object has no attribute 'str'

In [1]:
# NA_Sales 부터 Other_Sales 까지 K나 M OK등이 포함된 문자열이 있어
# 이문자열들을 없에고 숫자로 바꾸려 하였으나 실패